body, html {
    height: 100%;
    width: 100%;
    background: black url(http://static1.squarespace.com/static/53a486ece4b07a92c4385877/t/53aa2fa0e4b05b8379700d63/1403662296620/20130310-_MG_9063.jpg") no-repeat fixed center center;
}