{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        Welcome | dietCULPA
        {% endblock %}
    </head>
    
    <body>
        {% block body %}
        <div class="row home-page">
	        <div class="row">
	        	<div class="large-12 columns">
	        		<div class="panel">
	        			<h1>How do students feel about your professor?</h1>
	        			<a class="button" href="/search">dietCULPA</a>
        			</div>
        		</div>
        	</div>
        </div>
        {% endblock %}
    </body>
</html>